@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --table-gradient: radial-gradient(
    70.03% 109.79% at 50% 29.38%,
    #31363f 0%,
    #20232b 70%
  );
  --gold: #f6c05c;
  --primary-orange: #e1a24f;
  --primary-green: #66d29e;
  --primary-blue: #537fd8;
  --primary-red: #dc4673;
}

@layer base {
  html {
    @apply font-primary;
  }
}
